.containerPrincipal {
    position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 15px;
      padding: 40px;
      background-color: rgb(238, 235, 235);
  }
  
  .containerSecundario{
    text-align: center;
  }